@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*création des breakpoints*/
/*vue mobile*/
/*vue tablette*/
/*vue desktop*/
/*création des variables media queries utilisant les breakpoints*/
/*-----------------------------------------------------------------------------------------------*/
/*--------------------------------------------vue desktop----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/
/*---------------------------------------------------index.html---------------------------------*/
body,
.titleForm,
#nomPhotographeForm {
  font-family: "Montserrat", Arial, sans-serif;
}

h1,
.formul1,
.formulFin {
  font-family: "Libre Franklin", Arial, sans-serif;
}

.logo {
  margin-left: 90px;
}

/*----------------------------------------------------banner- navTag - title-----------------*/
.banner {
  margin-top: 40px;
  font-size: 11px;
  display: grid;
  grid-template-columns: 300px calc(100% - 700px) 300px;
  align-items: center;
}

.navigation {
  margin-left: -10px;
}

.navigation_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 90px;
}

.navigation a {
  text-decoration: none;
  color: #901c1c;
  border: #c4c4c4 1px solid;
  font-size: 11px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
}
.navigation a:hover {
  background-color: #901c1c;
  color: white;
}

.title h1 {
  position: relative;
  z-index: -1;
  font-size: 35px;
  font-weight: 400;
  color: #901c1c;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -55px;
  margin-right: 100px;
  margin-left: 90px;
}

/*----------------------------------card du photographes page index--------------------------*/
#listeDesPhotographes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding-top: 80px;
}

#listeDesPhotographes div {
  text-decoration: none;
}

.contenairPhotographe {
  width: 350px;
}
.contenairPhotographe a {
  text-decoration: none;
}

.photoIdDuPhotographe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoDuPhotographe {
  text-align: center;
}

.infoDuPhotographe a {
  text-decoration: none;
  color: #901c1c;
}

.nomDuPhotographe {
  color: #d3573c;
  font-size: 25px;
  margin-bottom: 10px;
}

.localisation {
  color: #901c1c;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  margin-bottom: 3px;
}

.taglineDuPhotographe {
  color: black;
  font-size: 11px;
  margin-bottom: 3px;
}

.priceDuPhotographe {
  color: #525252;
  font-size: 11px;
  margin-bottom: 3px;
}

.tagsDuPhotographe {
  display: flex;
  justify-content: center;
}

.tagsDuPhotographe div {
  padding: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.tags {
  color: #901c1c;
  border: #c4c4c4 1px solid;
  font-size: 11px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
.tags:hover {
  background-color: #901c1c;
  color: white;
}

/*-----*/
.bouton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boutonContenu {
  position: fixed;
  visibility: hidden;
  margin-top: 60px;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
  border: solid #d3573c 1px;
  background-color: #d3573c;
  color: black;
  margin-bottom: 20px;
}
.boutonContenu a {
  text-decoration: none;
  background-color: #d3573c;
  color: black;
}

.boutonContenu:hover {
  background-color: #901c1c;
  color: white;
}
.boutonContenu:hover a {
  background-color: #901c1c;
  color: white;
}

/*----------------------------------------------boutons------------------------------------*/
.btn {
  background-color: #901c1c;
  color: white;
  width: 170px;
  padding: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 15px;
}
.btn:hover {
  background-color: #d3573c;
  color: black;
}

.contact {
  grid-column: 2;
  grid-row: 1;
  margin-top: 40px;
}

.btn-contact {
  width: 170px;
  height: 64px;
  font-size: 15px;
  font-weight: 400;
  margin-top: 35px;
  cursor: pointer;
  border-radius: 15px;
  border: #901c1c 1px solid;
  background-color: #901c1c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-contact:hover {
  background-color: #d3573c;
  color: black;
}

.topBorderRadius, .filtre li:first-child {
  border-radius: 15px 15px 0 0;
}

.bottomBorderRadius, .filtre li:last-child {
  border-radius: 0 0 15px 15px;
}

/*------------------------------------------- menu trier page medias---------------------*/
.trier {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 5.5%;
}
.trier a {
  text-decoration: none;
  padding-right: 5px;
  padding: 20px;
}

.trierPar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -37px;
  margin-left: 35px;
  margin-right: 2px;
}

.separator {
  /*---------------------- trait de séparation sous chaque item du menu déroulant------- */
  background-color: white;
  margin-left: 10px;
  width: 110px;
  height: 1px;
}

.filtre {
  margin-top: 65px;
}

.filtre:hover {
  z-index: 1;
  background-color: #901c1c;
  color: white;
  border-radius: 15px;
  cursor: pointer;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.filtre:hover li {
  transform: translateY(0px);
}

.filtre li:first-child {
  background-color: #901c1c;
  color: white;
  transform: translateY(0px);
  padding-left: 20px;
  padding-right: 20px;
}

.filtre li {
  transform: translateY(-2000px);
  padding-left: 20px;
  padding-right: 20px;
}
.filtre li:hover {
  background-color: #d3573c;
  color: black;
  color: black;
}

.date,
.titre,
.popularite {
  padding-top: 15px;
  padding-bottom: 15px;
}

/*------------------------------------contenair large mise en page---------------------*/
/*-------------------------------------------page medias------------------------------*/
#likePriceFooter {
  display: flex;
  justify-content: flex-end;
}

.likePriceFooter {
  background-color: #d3573c;
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 270px;
  height: 55px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenairPhotographeLarge {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  background-color: #fafafa;
  border-radius: 5px;
}

.contenairPhotographeLarge a {
  text-decoration: none;
}

/*------order de la card ----*/
.photoIdDuPhotographeLarge {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}

.infoDuPhotographeLarge {
  grid-column: 1;
  grid-row: 1;
  margin-left: 5px;
}

.nomDuPhotographeLarge {
  font-size: 35px;
  color: #d3573c;
  padding-bottom: 15px;
  margin-left: 0px;
}

.localisationLarge {
  color: #901c1c;
  font-size: 25px;
  display: flex;
  padding-bottom: 25px;
}

.taglineDuPhotographeLarge {
  font-size: 15px;
  padding-bottom: 20px;
}

.tagsDuPhotographeLarge {
  display: flex;
  font-size: 11px;
  padding-bottom: 50px;
}

.tagsDuPhotographeLarge div {
  color: #901c1c;
  font-weight: bold;
  padding: 3px;
  margin: 2px;
}

.tags {
  color: #901c1c;
  border: #c4c4c4 1px solid;
  font-size: 11px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
}
.tags:hover {
  background-color: #901c1c;
  color: white;
}

/*-------------------------------------------- les medias------------------------------------*/
.infoContenair {
  height: 350px;
  width: 370px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.likes {
  color: #901c1c;
  display: flex;
  justify-content: flex-start;
  padding-top: 330px;
  font-size: 16px;
}

.heart {
  color: #901c1c;
  padding-left: 10px;
  margin-right: 10px;
  font-size: 15px;
}

.titleMedias {
  color: #901c1c;
  font-weight: 400;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  right: 0;
  padding-top: 330px;
  margin-left: 10px;
}

/*------------------------------------------------gestion de la gallery--------------*/
#lightgallery {
  margin-top: -90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 85px;
  margin-right: 70px;
}

#lightgallery a {
  position: relative;
  text-decoration: none;
  color: black;
}

#lightgallery a img,
#lightgallery a video {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  background-color: #525252;
}

.titleInGallery {
  color: black;
}

div [class*=lg-next], div [class*=lg-prev], div [class*=lg-counter], div [class*=lg-toolbar], div [class*=lg-inner], .lg-toolbar .lg-icon {
  color: #901c1c;
  font-size: 25px;
  background-color: white;
}
div [class*=lg-next]:hover, div [class*=lg-prev]:hover, div [class*=lg-counter]:hover, div [class*=lg-toolbar]:hover, div [class*=lg-inner]:hover, .lg-toolbar .lg-icon:hover {
  color: #525252;
}

/*--------------------------------------------------modal-----------------------------*/
.formul1 {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}

.titleForm {
  padding-top: 5px;
}

#formulaire {
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 1;
  background-color: #d3573c;
  width: 365px;
  height: 650px;
  border-radius: 5px;
  visibility: hidden;
}

.headerForm {
  margin-left: 15px;
  font-weight: 400;
  height: 70px;
}

.close {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  padding-top: 15px;
  font-size: 35px;
  font-weight: 300;
  color: white;
  cursor: pointer;
}

.titleForm {
  font-size: 35px;
  margin-top: -45px;
}

#nomPhotographeForm {
  font-size: 35px;
  margin-bottom: 20px;
}

.data input {
  height: 30px;
  width: 310px;
  border-radius: 5px;
}

.message input {
  height: 184px;
  width: 310px;
  border-radius: 5px;
}

.nom,
.email,
.message {
  font-size: 15px;
  font-weight: 400;
  margin-top: 15px;
}

.prenom {
  font-size: 15px;
  font-weight: 400;
}

.textError {
  font-size: 11px;
  margin-left: 7px;
  color: white;
  visibility: hidden;
}

.btn-valide {
  cursor: pointer;
  border-radius: 15px;
  border: #901c1c 1px solid;
  padding: 5px;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  width: 170px;
  background-color: #901c1c;
  color: white;
}
.btn-valide:hover {
  background-color: #d3573c;
  color: black;
}

/*---------------------------------------------------modal de fin-------------------------*/
.formulFin {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
}

#modalFin {
  visibility: hidden;
  position: fixed;
  margin-top: 0;
  top: 0;
  background-color: #d3573c;
  width: 365px;
  height: 450px;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.btn-closeFin {
  margin-left: 5px;
  padding: 3px;
  border-radius: 15px;
  border: #901c1c 1px solid;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  width: 200px;
  background-color: #901c1c;
  color: white;
}
.btn-closeFin:hover {
  background-color: #d3573c;
  color: black;
}

.crossCloseModalFin {
  margin-top: -160px;
  margin-right: -300px;
  font-size: 35px;
  font-weight: 300;
  color: white;
  cursor: pointer;
}

.messageFin {
  padding-top: 100px;
}/*# sourceMappingURL=fe-desktop.css.map */