@import "fe-variable-commons.scss";
@import "fe-variable-responsive.scss";
/*-----------------------------------------------------------------------------------------------*/
/*--------------------------------------------vue desktop----------------------------------------*/
/*-----------------------------------------------------------------------------------------------*/

/*---------------------------------------------------index.html---------------------------------*/
body {
  font-family: "Montserrat", Arial, sans-serif;
}
h1{
  font-family: "Libre Franklin", Arial, sans-serif;
}
.logo {
  margin-left: $marginLeftPage;
}
/*----------------------------------------------------banner- navTag - title-----------------*/
.banner {
  font-size: $fontSizeSmall;
  display: grid;
  grid-template-columns: 8fr 12fr 8fr;
  align-items: center;
}
.navigation_tag {
  font-size: $fontSizeSmall;
  @include center;
  flex-wrap: wrap;
  gap: 5px;
}
.navigation a {
  text-decoration: none;
  color: $colorPrimaryStatic;
  border: solid $colorSecondGrey 1px;
  border-radius: $border-radius-big;
  padding-left: 3px;
  padding-right: 3px;
  margin: 3px;
  &:hover {
    @include colorBtn;
  }
}
//nos photographes
.title h1 {
  position: relative;
  z-index: -1;
  font-size: 30px;
  font-weight: 400;
  color: $colorPrimaryStatic;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-top: -55px;
}
/*----------------------------------card du photographes page index--------------------------*/
#listeDesPhotographes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  padding-top: 80px;
}
#listeDesPhotographes div {
  text-decoration: none;
}
.contenairPhotographe {
  width: $widthContenairP;
  & a {
    text-decoration: none;
  }
}
.photoIdDuPhotographe {
  @include center;
  flex-direction: column;
}

.infoDuPhotographe {
  text-align: center;
}
.infoDuPhotographe a {
  text-decoration: none;
  color: $colorPrimaryStatic;
}
.nomDuPhotographe {
  color: $colorSecondFocus;
  font-size: $fontSizeBig;
  margin-bottom: 10px;
}
.localisation {
  @include center;
  text-align: center;
  font-size: $fontSizeIntermediaire;
  margin-bottom: 3px;
}
.taglineDuPhotographe {
  color: black;
  font-size: $fontSizeSmall;
  margin-bottom: 3px;
}
.priceDuPhotographe {
  color: #525252;
  font-size: $fontSizeSmall;
  margin-bottom: 3px;
}
.tagsDuPhotographe {
  display: flex;
  justify-content: center;
}
.tagsDuPhotographe div {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 3px;
}
.tags {
  border: #525252 1px solid;
  font-size: $fontSizeSmall;
  border-radius: $border-radius-big;
  cursor: pointer;
  &:hover {
    @include colorBtn;
  }
}
/*-----*/
.bouton {
  @include center;
}
.boutonContenu {
  position: fixed;
  visibility: $hidden;
  margin-top: 60px;
  text-align: center;
  font-weight: bolder;
  font-size: $fontSizeIntermediaire;
  padding: 8px;
  border-radius: $border-radius-small;
  border: solid $colorSecondFocus 1px;
  background-color: $colorSecondFocus;
  margin-bottom: 20px;
  & a {
    text-decoration: none;
    color: black;
  }
}

/*----------------------------------------------boutons------------------------------------*/
//style commun des boutons
.btn {
  background-color: $colorPrimaryStatic;
  color: white;
  width: $widthBtn;
  padding: 27px;
  @include center;
  border-radius: $border-radius-big;
  font-size: $fontSizeIntermediaire;
  &:hover {
    background-color: $colorSecondFocus;
    color: black;
  }
}
//btn contactez moi
.contact {
  grid-column: 2;
  grid-row: 1;
  margin-top: 40px;
}
//btn contact
.btn-contact {
  background-color: $colorPrimaryStatic;
  color: white;
  width: $widthBtn;
  height: 64px;
  @include center;
  border-radius: $border-radius-big;
  font-size: $fontSizeIntermediaire;
  font-weight: 400;
  margin-top: 35px;
  &:hover {
    background-color: $colorSecondFocus;
    color: black;
  }
}
//tri
.topBorderRadius {
  border-radius: $border-radius-big $border-radius-big 0 0;
}
.bottomBorderRadius {
  border-radius: 0 0 $border-radius-big $border-radius-big;
}
/*------------------------------------------- menu trier page medias---------------------*/
.trier {
  font-size: $fontSizeIntermediaire;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 5.5%;
  & a {
    text-decoration: none;
    padding-right: 5px;
    padding: 20px;
  }
}
.trierPar {
  @include center;
  margin-top: -37px;
  margin-left: 35px;
  margin-right: 2px;
}

.separator {
  /*---------------------- trait de séparation sous chaque item du menu déroulant------- */
  background-color: white;
  margin-left: 10px;
  width: 110px;
  height: 1px;
}
.filtre {
  margin-top: 65px;
}
.filtre:hover {
  @include colorBtn();
  border-radius: $border-radius-big;
  cursor: pointer;
}
ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
.filtre:hover li {
  transform: translateY(0px);
}
.filtre li:first-child {
  @include colorBtn();
  transform: translateY(0px);
  @extend .topBorderRadius;
  padding-left: 20px;
  padding-right: 20px;
}
.filtre li:last-child {
  @extend .bottomBorderRadius;
}
.filtre li {
  transform: translateY(-2000px);
  padding-left: 20px;
  padding-right: 20px;
  &:hover {
    @include colorBtnHover();
    color: black;
  }
}
.date,
.titre,
.popularite {
  padding-top: 15px;
  padding-bottom: 15px;
}
/*------------------------------------contenair large mise en page---------------------*/
/*-------------------------------------------page medias------------------------------*/
#likePriceFooter {
  display: flex;
  justify-content: flex-end;
}
.likePriceFooter {
  background-color: $colorSecondFocus;
  bottom: 0;
  position: fixed;
  z-index: 1;
  width: 270px;
  height: 55px;
  text-align: center;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contenairPhotographeLarge {
  margin-left: $marginLeftPage;
  margin-right: 100px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  background-color: $colorSecondGreylight;
  border-radius: $border-radius-small;
}
.contenairPhotographeLarge a {
  text-decoration: none;
}
/*------order de la card ----*/
.photoIdDuPhotographeLarge {
  grid-column: 3;
  grid-row: 1;
  text-align: right;
}
.infoDuPhotographeLarge {
  grid-column: 1;
  grid-row: 1;
  margin-left: 5px;
}
.nomDuPhotographeLarge {
  font-size: $fontSizeBigModal;
  color: $colorSecondFocus;
  padding-bottom: 15px;
  margin-left: 0px;
}
.localisationLarge {
  color: $colorPrimaryStatic;
  font-size: 25px;
  display: flex;
  padding-bottom: 25px;
}
.taglineDuPhotographeLarge {
  font-size: $fontSizeIntermediaire;
  padding-bottom: 20px;
}
.tagsDuPhotographeLarge {
  display: flex;
  font-size: $fontSizeSmall;
  padding-bottom: 50px;
}
.tagsDuPhotographeLarge div {
  color: $colorPrimaryStatic;
  font-weight: bold;
  padding: 3px;
  margin: 2px;
}
.tags {
  border: lightgrey 1px solid;
  font-size: $fontSizeSmall;
  border-radius: $border-radius-big;
}
/*-------------------------------------------- les medias------------------------------------*/
//cadre sous le media
.infoContenair {
  height: 350px;
  width: $widthInfoC;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}
.likes {
  color: $colorPrimaryStatic;
  display: flex;
  justify-content: flex-start;
  padding-top: 330px;
  font-size: 16px;
}
.heart {
  color: $colorPrimaryStatic;
  padding-left: 10px;
  margin-right: 10px;
  font-size: $fontSizeIntermediaire;
}
.titleMedias {
  color: $colorPrimaryStatic;
  font-weight: 400;
  font-size: $fontSizeIntermediaire;
  display: flex;
  justify-content: flex-start;
  right: 0;
  padding-top: 330px;
  margin-left: 10px;
}
/*------------------------------------------------gestion de la gallery--------------*/
#lightgallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 85px;
  margin-right: 70px;
}
#lightgallery a {
  position: relative;
  text-decoration: none;
  color: black;
}
#lightgallery a img,
#lightgallery a video {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  width: $widthContenairP;
  height: 300px;
  border-radius: $border-radius-small;
  background-color: $colorSecondGrey;
}
//designe gallery
#lg-content-1 {
  background-color: white;
}
.titleInGallery {
  color: black;
}
#lg-actual-size-1,
#lg-close-1,
#lg-next-1,
#lg-prev-1,
#lg-download-1 {
  color: $colorPrimaryStatic;
  font-size: 35px;
}
#lg-next-1,
#lg-prev-1 {
  background-color: white;
}
/*--------------------------------------------------modal-----------------------------*/
.formul1 {
  position: fixed;
  display: flex;
  justify-content: center;
  width: $width;
}
.titleForm {
  padding-top: 5px;
}
#formulaire {
  position: fixed;
  margin-top: 0;
  top: 0;
  z-index: 1;
  background-color: $colorSecondFocus;
  width: 365px;
  height: 650px;
  font-size: 17px;
  border-radius: $border-radius-small;
  visibility: $hidden;
}
.headerForm {
  margin-left: 15px;
  font-weight: 400;
  height: 70px;
}
.close {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  padding-top: 15px;
  font-size: $fontSizeBigModal;
  font-weight: 300;
  color: white;
  cursor: pointer;
}
.titleForm {
  font-size: $fontSizeBigModal;
  margin-top: -45px;
}
#nomPhotographeForm {
  font-size: $fontSizeBigModal;
  margin-bottom: 20px;
}
.data input {
  height: 30px;
  width: $widthModalInput;
  border-radius: $border-radius-small;
}
.message input {
  height: 184px;
  width: $widthModalInput;
  border-radius: $border-radius-small;
}
.nom,
.email,
.message {
  font-size: $fontSizeIntermediaire;
  font-weight: 400;
  margin-top: 15px;
}
.prenom {
  font-size: $fontSizeIntermediaire;
  font-weight: 400;
}
.textError {
  font-size: $fontSizeSmall;
  margin-left: 7px;
  color: white;
  visibility: $hidden;
}
.btn-valide {
  padding: 5px;
  border-radius: $border-radius-big;
  border: $colorPrimaryStatic 1px solid;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
  width: $widthBtn;
  background-color: $colorPrimaryStatic;
  color: white;
  &:hover {
    background-color: $colorSecondFocus;
    color: black;
  }
}
/*---------------------------------------------------modal de fin-------------------------*/
.formulFin {
  position: fixed;
  display: flex;
  justify-content: center;
  width: $width;
}
#modalFin {
  visibility: $hidden;
  position: fixed;
  margin-top: 0;
  top: 0;
  background-color: $colorSecondFocus;
  width: 365px;
  height: 450px;
  font-size: 20px;
  border-radius: $border-radius-small;
  @include center;
  text-align: center;
  flex-direction: column;
}
.btn-closeFin {
  margin-left: 5px;
  padding: 3px;
  border-radius: $border-radius-big;
  border: $colorPrimaryStatic 1px solid;
  padding: 20px;
  text-align: center;
  margin-top: 30px;
  margin-left: 10px;
  width: 200px;
  background-color: $colorPrimaryStatic;
  color: white;
  &:hover {
    background-color: $colorSecondFocus;
    color: black;
  }
}
.crossCloseModalFin {
  margin-top: -160px;
  margin-right: -300px;
  font-size: $fontSizeBigModal;
  font-weight: 300;
  color: white;
  cursor: pointer;
}
.messageFin {
  padding-top: 100px;
}
