@import "fe-variable-commons.scss";
@import "fe-variable-responsive.scss";
/*-----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------vue tablette-------------------------*/
/*-----------------------------------------------------------------------------------------------*/
//logo
@media #{$medium-down} {
  .logo {
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    width: $width;
  }
}
@media #{$medium-down} {
  .contenairPhotographeLarge {
    background-color: #fafafa;
    display: block;
    height: 260px;
    margin-bottom: 50px;
  }
  .nomDuPhotographeLarge {
    margin-top: -245px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  .photoIdDuPhotographeLarge {
    width: $width;
  }
  .photoIdDuPhotographeLarge img {
    width: 200px;
    margin-top: 40px;
  }
  .title h1 {
    position: absolute;
    font-size: 18px;
    padding-top: 10px;
    left: auto;
    right: 10px;
    width: 160px;
  }
  .contact {
    width: $width;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .navigation_tag {
    gap: 5px;
    margin-top: 25px;
    margin-left: -12px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .localisationLarge {
    font-size: $fontSizeIntermediaireR;
    margin-bottom: -10px;
  }
  .taglineDuPhotographeLarge {
    color: black;
    font-size: $fontSizeSmallR;
    margin-bottom: -10px;
  }
  .tags {
    font-size: $fontSizeSmallR;
  }
  .btn-contact {
    position: fixed;
    z-index: 1;
    height: 30px;
    border-radius: 10px;
    padding: 8px;
    font-size: $fontSizeIntermediaireR;
    font-weight: 400;
    top: 495px;
  }
  .trier {
    visibility: hidden;
  }
  #lightgallery {
    margin-top: -160px;
  }
  /*-----------------------------------------------------------------------------------------------*/
  /*---------------------------------------------------modal tablette------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/
  #formulaire,
  #modalFin {
    align-items: center;
    z-index: 2;
    top: 0;
    margin: 0;
    height: 590px;
    width: 375px;
  }
  .message input {
    height: 110px;
    width: 310px;
    margin-bottom: 5px;
  }
  #lightgallery {
    margin-top: -250px;
  }
}
/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------vue mobile----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media #{$small-down} {
  .logo {
    margin-top: 15px;
  }
  .title h1 {
    font-size: $fontSizeIntermediaireR;
    margin-top: -105px;
  }
}
/*-------------------------------------------------index----------------------------------------*/
@media #{$small-down} {
  .banner {
    @include center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .boutonContenu {
    visibility: hidden;
  }
  /*------------------------------------------media---------------------------------------*/
  #likePriceFooter {
    visibility: hidden;
  }
  .contenairPhotographeLarge {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    width: $width;
    height: 180px;
  }
  .infoDuPhotographeLarge {
    max-width: $width;
  }
  .photoIdDuPhotographeLarge {
    width: $width;
  }
  .photoIdDuPhotographeLarge img {
    // background-color: blue;
    width: 150px;
    margin-top: 3%;
  }
  .nomDuPhotographeLarge {
    font-size: 23px;
    padding-top: 65px;
  }
  .trier {
    visibility: hidden;
  }
}
/*-------------------------------------------------------lightgallery--------------------------*/
@media #{$small-down} {
  #lightgallery {
    align-items: center;
    margin-top: -250px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .infoContenair div {
    font-size: $fontSizeIntermediaireR;
  }
  .heart span {
    font-size: 20px;
  }
}
/*---------------------------------------------------------modal mobile-----------------------*/
@media #{$small-down} {
  .titleForm,
  #nomPhotographeForm {
    font-size: 35px;
  }
  #nomPhotographeForm {
    margin-bottom: 0px;
  }
  .nom,
  .email,
  .message {
    margin-top: 8px;
  }
}
