@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*création des breakpoints*/
/*vue mobile*/
/*vue tablette*/
/*vue desktop*/
/*création des variables media queries utilisant les breakpoints*/
/*-----------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------vue tablette-------------------------*/
/*-----------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .logo {
    margin-left: 0px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .contenairPhotographeLarge {
    background-color: #fafafa;
    display: block;
    height: 260px;
    margin-bottom: 50px;
  }

  .nomDuPhotographeLarge {
    margin-top: -245px;
    margin-bottom: 0px;
    margin-left: 0px;
  }

  .photoIdDuPhotographeLarge {
    width: 100%;
  }

  .photoIdDuPhotographeLarge img {
    width: 200px;
    margin-top: 40px;
  }

  .title h1 {
    position: absolute;
    font-size: 18px;
    left: auto;
    right: 10px;
    width: 160px;
    top: 125px;
  }

  .contact {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .navigation_tag {
    margin-left: -12px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 50px;
  }

  .navigation a {
    margin: 2px;
  }

  .localisationLarge {
    font-size: 14px;
    margin-bottom: -10px;
  }

  .taglineDuPhotographeLarge {
    color: black;
    font-size: 11px;
    margin-bottom: -10px;
  }

  .tags {
    font-size: 11px;
  }

  .btn-contact {
    position: fixed;
    z-index: 1;
    height: 30px;
    border-radius: 10px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    top: 495px;
  }

  .trier {
    visibility: hidden;
  }

  #lightgallery {
    margin-top: -160px;
  }

  #miniature {
    visibility: hidden;
  }

  #gallery {
    z-index: 20;
  }

  #media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 85%;
  }

  #leftArrow {
    left: 0px;
    right: auto;
  }

  #rightArrow {
    left: auto;
    right: 0px;
  }

  /*-----------------------------------------------------------------------------------------------*/
  /*---------------------------------------------------modal tablette------------------------------*/
  /*-----------------------------------------------------------------------------------------------*/
  #formulaire,
#modalFin {
    align-items: center;
    z-index: 2;
    top: 0;
    margin: 0;
    height: 590px;
    width: 375px;
  }

  .message input {
    height: 110px;
    width: 310px;
    margin-bottom: 5px;
  }

  #lightgallery {
    margin-top: -250px;
  }
}
/*----------------------------------------------------------------------------------------------*/
/*--------------------------------------vue mobile----------------------------------------------*/
/*----------------------------------------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .logo {
    z-index: 3;
    margin-top: 15px;
    margin-left: -10px;
  }
  .logo img {
    width: 150px;
  }

  .navigation_tag {
    margin-left: 0;
  }

  .title h1 {
    font-size: 14px;
    position: absolute;
    top: 75px;
    left: auto;
    right: 30px;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    width: auto;
  }
}
/*-------------------------------------------------index----------------------------------------*/
@media only screen and (max-width: 767px) {
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .boutonContenu {
    visibility: hidden;
  }

  /*------------------------------------------media---------------------------------------*/
  #likePriceFooter {
    visibility: hidden;
  }

  .contenairPhotographeLarge {
    display: inline-block;
    margin-left: 1px;
    margin-right: 1px;
    width: 100%;
    height: 180px;
  }

  .infoDuPhotographeLarge {
    max-width: 100%;
  }

  .photoIdDuPhotographeLarge {
    width: 100%;
  }

  .photoIdDuPhotographeLarge img {
    width: 150px;
    margin-top: 3%;
  }

  .nomDuPhotographeLarge {
    font-size: 23px;
    padding-top: 65px;
  }

  .trier {
    visibility: hidden;
  }
}
/*-------------------------------------------------------lightgallery--------------------------*/
@media only screen and (max-width: 767px) {
  #lightgallery {
    align-items: center;
    margin-top: -250px;
    margin-left: 0px;
    margin-right: 0px;
  }

  .infoContenair div {
    font-size: 14px;
  }

  .heart span {
    font-size: 20px;
  }
}
/*---------------------------------------------------------modal mobile-----------------------*/
@media only screen and (max-width: 767px) {
  .titleForm,
#nomPhotographeForm {
    font-size: 35px;
  }

  #nomPhotographeForm {
    margin-bottom: 0px;
  }

  .nom,
.email,
.message {
    margin-top: 8px;
  }
}/*# sourceMappingURL=fe-responsive.css.map */