@charset "UTF-8";
/*création des breakpoints*/
/*vue tablette*/
/*vue desktop*/
/*création des variables media queries utilisant les breakpoints*/
.listeTags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bouton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boutonContenu {
  width: 174px;
  background-color: #d3573c;
  text-align: center;
  font-weight: bolder;
  font-size: 15px;
  padding: 8px;
  border-radius: 5px;
}

.banner {
  font-size: 12px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation a, .tags {
  text-decoration: none;
  color: #901c1c;
  border: solid grey 1px;
  padding: 3px;
  border-radius: 15px;
}

.title {
  font-size: 27px;
  color: #901c1c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  margin-top: -90px;
}

#listeDesPhotographes div {
  text-decoration: none;
}

.contenairPhotographe {
  background-color: #d6abab;
  width: 260px;
  margin: 5%;
}

.contenairPhotographe .infoDuPhotographe a {
  text-decoration: none;
  color: #901c1c;
  background-color: #901c1c;
  text-align: center;
}

.contenairPhotographe .nomDuPhotographe {
  font-size: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenairPhotographeLarge a {
  text-decoration: none;
}

#listeDesPhotographes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e93a17;
}

.tagsDuPhotographe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tags {
  margin-right: 5px;
}

.btn, .btn-contact {
  background-color: red;
  color: white;
  width: 170px;
  padding: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
  font-size: 15px;
}

.btn:hover, .btn-contact:hover {
  background-color: #d3573c;
  color: black;
}

.topBorderRadius, #filtre {
  border-radius: 10px 10px 0 0;
}

.bottomBorderRadius, .choix {
  border-radius: 0 0 10px 10px;
}

#filtre ul {
  padding: 0px;
  margin: 0;
  list-style: none;
}

.trier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.trier a {
  text-decoration: none;
  padding-right: 5px;
  padding: 20px;
}

#filtre {
  /* on centre le menu dans la page */
  font-weight: bolder;
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #00ff62;
}

#filtre:hover {
  background-color: aqua;
}

#filtre li {
  /* on place les liens du menu horizontalement */
  display: inline-block;
  border-radius: 10px;
}

#filtre ul li {
  /* on enlève ce comportement pour les liens du sous menu */
  display: inherit;
  cursor: pointer;
}

#filtre ul li:hover {
  background-color: #5aa8a8;
  border-radius: 0;
}

#filtre a {
  text-decoration: none;
  display: block;
  color: white;
  cursor: pointer;
}

#filtre ul {
  position: absolute;
  /* on cache les sous menus complètement sur la gauche */
  left: -999em;
  z-index: 1000;
}

.separator {
  /* trait de séparation sous chaque item du menu déroulant */
  background-color: white;
  margin-left: 10px;
  width: 110px;
  height: 1px;
}

.choix {
  background-color: blue;
  overflow: hidden;
  width: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

#filtre li:hover ul {
  /* Au survol des li du menu on replace les sous menus */
  left: auto;
}

.contenairPhotographeLarge {
  background-color: #cfc9c9;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
}

.tagsDuPhotographeLarge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.photoIdDuPhotographe {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.contact {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.infoDuPhotographe {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.infoPhoto {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 200px;
}

.likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 2px;
}

.titleMedias {
  margin-top: -1px;
}

.infoContenair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 400px;
  margin-left: 80px;
  width: 350px;
}

.heart {
  padding-left: 5px;
  color: #901c1c;
}

#lightgallery a img, #lightgallery a video {
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

#lightgallery a video, #lightgallery a img {
  width: 350px;
  height: 300px;
  border-radius: 5px;
}

#lightgallery a video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: grey;
}

#lightgallery a {
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 500px;
  height: 500px;
}

#lightgallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: yellow;
}
/*# sourceMappingURL=fe-style-commons.css.map */