@import "./responsive.scss";

// couleurs primary
$colorPrimaryStatic:#901c1c;

//color secondaire
$colorSecondFocus:#d3573c;
$colorSecondGrey:#525252;


.listeTags{
    display: flex;
}
.bouton{
    display: flex;
    justify-content: center;
}
.boutonContenu{
    width: 174px;
    background-color:$colorSecondFocus ;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
}

.banner{
    font-size: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
     }

.navigation a, .tags{
    text-decoration: none;
    color:$colorPrimaryStatic;
    border: solid grey 1px;
    padding: 3px;
    border-radius: 15px;
}
.title{
    font-size: 27px;
    color:$colorPrimaryStatic;
    display: flex;
    justify-content:flex-end;
    width: 100%;
    margin-top: -90px;
}
#listeDesPhotographes div{
text-decoration: none;
}

.contenairPhotographe{
background-color: #d6abab;
width: 260px ; 
margin: 5%;

& .infoDuPhotographe a{
    text-decoration: none;
    color:$colorPrimaryStatic;
    background-color: #901c1c;
    text-align: center;
}
& .nomDuPhotographe{
    font-size: 27px;
    align-items: center;
   }
 }

 .contenairPhotographeLarge a{
     text-decoration: none;
     }

#listeDesPhotographes{
    display: flex;
    flex-wrap:wrap ;
    justify-content: center;
    background-color: #e93a17; 
}
.tagsDuPhotographe{
display: flex;
justify-content: center;

}
.tags{
    margin-right: 5px;
}
//style commun des boutons
.btn{
    background-color: red;
    color: white;
    width: 170px;
    padding: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 15px;
    &:hover{
        background-color: $colorSecondFocus;
        color: black;  
    }
}
//btn contact
.btn-contact{
    @extend .btn;
    
}  

//tri
.topBorderRadius{
border-radius:10px 10px 0 0;
}
.bottomBorderRadius{
    border-radius: 0 0 10px 10px;  
}
#filtre ul {
    padding: 0px;
    margin: 0;
    list-style: none;
    }
.trier{
    display: flex;
   & a{
    text-decoration: none;
    padding-right: 5px;
    padding: 20px;
} 
}

#filtre {
/* on centre le menu dans la page */
font-weight: bolder;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: rgb(0, 255, 98);
    @extend .topBorderRadius;
    &:hover{
        background-color: aqua;
    }
    }

#filtre li {
/* on place les liens du menu horizontalement */
    display: inline-block;
    border-radius: 10px;
  
}
#filtre ul li {
/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
    cursor: pointer;
    &:hover{
        background-color: rgb(90, 168, 168);
        border-radius: 0;
    }
    }
   

#filtre a {
    text-decoration: none;
    display: block;
	color: white;
    cursor: pointer;
        }
 


#filtre ul {
    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    z-index: 1000;
     
}
.separator { /* trait de séparation sous chaque item du menu déroulant */
 background-color: white; 
 margin-left: 10px;
     width: 110px;
    height: 1px;
}
.choix{
    background-color: blue;
    overflow: hidden;
    width: 130px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
   @extend .bottomBorderRadius;
   }

#filtre li:hover ul {
/* Au survol des li du menu on replace les sous menus */
    left: auto;
   
}

//contenair large mise en page
.contenairPhotographeLarge{
background-color: #cfc9c9;    
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
}
.tagsDuPhotographeLarge{
    display: flex;
}
.localisation{
    display: flex;
}
.photoIdDuPhotographe{
    order:3;
}
.contact{
    order:2;
}
.infoDuPhotographe{
    order:1;
}
.infoPhoto{
    display: grid;
   grid-template-columns:1fr 1fr ;
    width: 200px;
}

//infos sous la photos
.likes{
    display: flex;
    justify-content: flex-end;
    padding-right: 2px;
    }
.titleMedias{
    margin-top: -1px;
  }
.infoContenair{
    display:flex;
 justify-content: space-between;
    margin-top: 400px;
    margin-left: 80px;
    width: 350px;
}

.heart{
    padding-left: 5px;
    color: #901c1c;
}
#lightgallery a img, #lightgallery a video {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

}
#lightgallery a video, #lightgallery a img{
width: 350px;
height: 300px;
border-radius: 5px;
}
#lightgallery a video{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

#lightgallery a{
    text-align: center;
  position: relative;
overflow: hidden;  
    width: 500px;
height: 500px;

}

#lightgallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: yellow;
    
}