
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// couleurs primary
$colorPrimaryStatic: #901c1c;
//color secondaire
$colorSecondFocus: #d3573c;
$colorSecondGrey: #525252;
$colorSecondGreylight: #fafafa;

$border-radius-small: 5px;
$border-radius-big: 15px;

$widthModalInput: 310px;
$width: 100%;
$hidden: hidden;

$widthContenairP: 350px;
$widthInfoC: 370px;
$widthBtn: 170px;

$fontSizeBig: 25px;
$fontSizeBigModal: 35px;
$fontSizeSmall: 11px;
$fontSizeIntermediaire: 15px;

$marginLeftPage: 100px;

@mixin colorBtn {
  background-color: $colorPrimaryStatic;
  color: white;
};

@mixin colorBtnHover {
  background-color: $colorSecondFocus;
  color: black;
};
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
};
@mixin formBtn {
  cursor: pointer;
  border-radius: $border-radius-big;
  border: $colorPrimaryStatic 1px solid;
}
@mixin tags {
  color: $colorPrimaryStatic;
  border: #c4c4c4 1px solid;
  font-size: $fontSizeSmall;
  font-weight: bold;
  border-radius: $border-radius-big;
  cursor: pointer;
  &:hover {
    @include colorBtn;
  }

}
@mixin tagForme {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 3px;
}